/* @import url(http://fonts.googleapis.com/css?family=Lato:400,700,900); */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 2em;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 .5em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 .5em 0;
}

.note {
  color: #999;
}

svg path {
  stroke: none;
  vector-effect: non-scaling-stroke;
}

path.mesh {
  fill: none;
  stroke: #999;
  stroke-width: .5;
}

g.counties path.mesh {
  stroke: #ddd;
}

path.empty {
  fill: #f9f9f9;
}

#map a:hover .state {
  stroke: #333;
}

.legend .title {
  font-size: inherit;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

  .legend .item .color {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: baseline;
    margin-right: .5em;
  }

#map {
  position: relative;
  margin-left: 12em;
}

#map .legend {
  position: absolute;
  top: 0;
  right: 100%;
  width: 12em;
}

#states:after {
  clear: both;
  display: table;
  content: " ";
}

#states .state {
  float: left;
  margin: 0 20px 20px 0;
}

#states .state .map {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
}

#states .state#AK .map {
  width: 620px;
}

.state .map path.mask {
  stroke: #ccc;
  stroke-width: .5;
  fill: #fff;
  fill-opacity: .66;
}

.state .map path.outline {
  fill: none;
  stroke: #333;
  stroke-width: 1;
}
